<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onServerNameUpdate($event)"/> -->
<input type="text" class="form-control" [(ngModel)]="serverName"/>
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]=!allowAddOfServer (click) = "onCreateClick($event)">Add new server</button>
<p *ngIf = "isServerCreated">{{serverCreationMessage}}</p>
<!-- * is used because it is a structural directive which changes the DOM -->
<app-server *ngFor="let server of serversList"></app-server>
